#my-profile
  %img#my-avatar.pure-img(src = avatar_url)
  %h3#my-name.user-name
    #{username}
  %h5#my-handle.user-handle
    #{handle}
  .pure-g
    .pure-u-1-4
    %button#following-profile-button.pure-u-1-2{:class => ["following-button", user_relation, "primary-button"], "data-uid" => userid} 
      #{profileButtonTxt(user_relation)}
    .pure-u-1-4
  .pure-g
    #my-following.pure-u-1-2
      %h5.followlabel
        Following
      %h4#followingcount.followcount 
        #{followingcount}
    #my-followers.pure-u-1-2
      %h5.followlabel 
        Followers
      %h4#followercount.followcount 
        #{followercount}
